* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	text-align: center;
}

header {
	background-color: #ffffff;
	color: #050505;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	font-size: 150%;
	font-family: ui-rounded;
	margin-left: 10%;
	margin-right: 10%;
}

nav a {
	color: #050505;
	text-decoration: none;
	
}

main {
	padding: 50px;
}

section {
	margin-bottom: 50px;
}
img{
	width: 40%;
}
h1, h2 {
	margin-bottom: 20px;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.8s ease-in-out;
}

.fade-in.active {
	opacity: 1;
}

footer {
	background-color: #eee;
	padding: 20px;
	text-align: center;
}
div{
	font-family: Brush Script MT, Brush Script Std, cursive;
}
.motto{
	font-size: 80%;
}
.caption{
	font-size: 60%;
	font-family: 'Helvetica Neue', sans-serif;
}
.aboutm{
	font-size: 80%;
}